.advantage {
  padding: 25px;
}

.advantage__caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  margin-top: 0;
  text-align: center;
}

.advantage__number,
.advantage__text {
  line-height: 21px;
  margin: 0;
  text-align: center;
}

.advantage--blue {
  background-color: @blue;
  color: @white;

  .advantage__caption {
    color: @white;
  }
}

.advantage--silver {
  background-color: @grey-lighter;
}
