.advantage {
  padding: 25px;
  text-align: center;

  &--blue {
    background-color: @blue;
    color: @white;

    .advantage__caption {
      color: @white;
    }
  }

  &--subitem {
    text-align: left;
    padding-left: 75px;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding-left: 0;
    }
  }

  &--silver {
    background-color: @grey-lighter;
  }
}

.advantage__caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  margin-top: 0;
}

.advantage__text {
  line-height: 21px;
  margin: 0;
}
