.advantages__wrapper {
  @media (min-width: @tablet-width) {
    &--image {
      display: grid;
      grid-template-columns: 1fr 2fr;
      background-color: @blue;
    }

    &--image-first {
      display: grid;
      grid-template-columns: 2fr 1fr;
      background-color: @blue;
    }
  }
}

.advantages__first {
  background-image: url("../img/icons/corner-mini.svg");
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 256px;
  }
}

.advantages__list {
  .clear-list();
  display: flex;
  flex-direction: column;

  &--subitem {
    padding: 22px 0 23px;

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.advantages__item {
  &--subitem {
    @media (min-width: @tablet-width) {
      &:nth-child(2) {
        order: 1;
      }
    }
  }

  &--silver {
    border-bottom: 1px solid @grey-border;

    &:last-child {
      border-bottom: none;
    }

    @media (min-width: @tablet-width) {
      border-bottom: none;
      background-color: @grey-lighter;
    }
  }

  @media (min-width: @tablet-width) {
    width: 33.333%;
  }
}
