.choice {
  margin-bottom: 43px;
  padding-left: 78px;

  &--checkbox {
    margin-bottom: 54px;
  }
}

.choice__text {
  font-weight: 700;
  font-size: 18px;
  color: @black;
  text-transform: initial;
}
