.header {
  background-image: url("../img/background-header-mini.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 902px 214px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-header-mini@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/background-header.jpg");
    background-size: 1200px 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-header@2x.jpg");
    }
  }

  &--main {
    background-image: url("../img/background-header-mobile.jpg");
    background-position: center;
    background-size: 901px 389px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-header-mobile@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/background-header.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-header@2x.jpg");
      }
    }
  }
}

.header__caption {
  display: block;
  margin: 0 auto;
  padding: 51px 0 67px;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
    padding: 95px 0 117px;
  }

  @media (min-width: @desktop-width) {
    padding: 102px 0 122px;
  }

  &--main {
    padding: 90px 0 85px;

    @media (min-width: @tablet-width) {
      width: 460px;
      height: 360px;
      padding: 72px 0 87px;
    }
  }
}
