.input__field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: @black;
  border: none;
  background-color: @white-grey;
  padding: 18px 22px 14px;
  width: 100%;
  box-sizing: border-box;

  &--textarea {
    padding: 13px 21px 29px;
    resize: none;
  }
}
