.input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .input__label {
    padding-right: 14px;
  }

  &--contact {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 14px;

    @media (min-width: @desktop-width) {
      flex-direction: row;
    }

    .input__label {
      padding-left: 22px;
    }
  }
}

.input__field {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: @black;
  border: none;
  background-color: @white-grey;
  padding: 16px 22px 16px;
  width: 100%;
  box-sizing: border-box;

  &--textarea {
    padding: 13px 21px 29px;
    resize: none;
  }
}
