.intro {
  padding-bottom: 11px;
}

.intro__caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  margin-top: 0;
  text-align: center;
}

.intro__text {
  text-align: center;
  margin: 0;
}
