.main-nav {
  background-color: @blue;
}

.main-nav__list {
  .clear-list();
}

.main-nav__item {
  a {
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: @white;
    text-align: center;
  }
}
