.main-nav {
  position: relative;
}

.main-nav__button-open {
  position: absolute;
  bottom: -56px;
  right: 0;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: none;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 13px;
    width: 23px;
    height: 4px;
    background-color: @blue;
    box-shadow:
      0 8px 0 0 @blue,
      0 16px 0 0 @blue;
  }
}

.main-nav__button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: none;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 17px;
    width: 27px;
    height: 4px;
    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  .clear-list();
  display: none;

  &--current {
    display: grid;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.main-nav__item {
  a {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: @white;
    text-align: center;
    padding: 8px 0 7px;
    background-color: @blue;
    box-shadow:
      0 1px 0 @black-opacity,
      inset 0 1px 0 @white-opacity;
    border-bottom: 1px solid @blue-dakrer;

    @media (min-width: @tablet-width) {
      font-size: 14px;
      color: @black;
      background-color: transparent;
      box-shadow: none;
      border-bottom: none;
    }
  }
}
