.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0 80px;
    max-width: 1040px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @black;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}
