.photograph {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @black;
  background-color: @brown-light;
  margin: 0;
}

.photograph__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    height: 267px;
  }

  &--first {
    @media (min-width: @tablet-width) {
      height: 400px;
    }
  }
}

.photograph__legend {
  display: flex;
  flex-direction: column;
  padding-top: 11px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 0 20px;

    &--first {
      padding: 15px 20px 0;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 3px;
    bottom: 0;
    background-color: @black-opacity-low;
    color: @white;

    &--first {
      padding-right: 21px;
    }
  }
}

.photograph__wrapper {
  margin-bottom: 13px;
}

.photograph__caption {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.photograph__text {
  font-weight: 400;
  text-transform: initial;
  color: @grey-dark;
  margin: 0;

  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.photograph__likes {
  display: flex;

  @media (min-width: @tablet-width) {
    padding-bottom: 5px;
  }
}

.photograph__like {
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 9px;
  }
}

.photograph__like-image {
  fill: @black-opacity-low;

  @media (min-width: @desktop-width) {
    fill: @white;
  }
}

.photograph__like-number {
  margin: 0;
}
