.video {
  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 200px;
  }
}

.video__wrapper {
  position: relative;
  background-color: @brown-light;
}

.video__content {
  display: block;
  width: 100%;
}

.video__controls-wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.video__controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  bottom: -66px;
  width: calc(100% - 40px);
  height: 111px;
  box-sizing: border-box;
  background-color: @black-opacity-high;

  @media (min-width: @tablet-width) {
    bottom: 0;
    width: 100%;
    height: 93px;
    padding: 0 35px;
    flex-wrap: nowrap;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-color: @white-grey;

    @media (min-width: @tablet-width) {
      content: none;
    }
  }
}

.video__slider {
  position: relative;
  width: 100%;
  height: 3px;
  margin: 0 40px;
  background-color: @white-opacity;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 15%;
    width: 9px;
    height: 9px;
    background-color: @white;
    border-radius: 50px;

    @media (min-width: @tablet-width) {
      left: 30%;
    }

    @media (min-width: @desktop-width) {
      left: 21%;
    }
  }
}

.video__button {
  border: none;
  background-color: transparent;
  z-index: 1;

  &:hover {
    cursor: pointer;

    & .video__button-image {
      fill: @grey-dark;

      @media (min-width: @tablet-width) {
        fill: @white;
        opacity: 0.6;
      }
    }
  }

  &:active {
    & .video__button-image {
      fill: @grey-dark;
      opacity: 0.3;

      @media (min-width: @tablet-width) {
        fill: @white;
        opacity: 0.3;
      }
    }
  }

  &--replay {
    margin: 0 auto 0 19px;

    @media (min-width: @tablet-width) {
      padding: 0;
      margin: 0;
      order: -1;
    }
  }

  &--size {
    margin: 0 17px 0 19px;

    @media (min-width: @tablet-width) {
      margin-right: 0;
    }
  }
}

.video__button-image {
  fill: @grey-blue;

  @media (min-width: @tablet-width) {
    fill: @white;
  }
}
