@black: #000000;
@black-opacity-high: rgba(0, 0, 0, 0.6);
@black-opacity: rgba(0, 1, 1, 0.2);
@black-opacity-low: rgba(0, 1, 1, 0.3);
@grey-dark: #333333;
@grey-blue: #5C6870;
@grey: #D5D5D5;
@grey-border: #D6D6D6;
@grey-light: #E5E5E5;
@grey-background: #E7E5E5;
@grey-lighter: #EEEEEE;
@white-grey: #F2F2F2;
@white: #FFFFFF;
@white-opacity: rgba(255, 255, 255, 0.2);
@low-opacity: rgba(0, 0, 0, 0.2);
@opacity: rgba(0, 0, 0, 0);
@blue: #81B3D2;
@blue-dark: #669EC0;
@blue-darker: #5496BD;
@brown: #604E43;
@brown-light: #766357;
